.item-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  border-top: 7px solid rgb(109, 176, 221);

  width: 700px;
  margin: 7px auto;

  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
}

.img-title-parent {
  display: flex;
  align-items: center;
  width: 33%;
}

.img-title-parent img {
  border-radius: 6px;
  width: 100px;
  height: 90px;
  margin: 2px 0 1px 0;
}

.img-title-parent p {
  padding-right: 5px !important;
  display: inline-block;
}

.price {
  color: #454545;
  font-size: 18px;
  font-weight: 500;
}



@media (max-width: 800px) {
  .item-container {
    width: 500px;
  }

  .price {
    font-size: 18px;
  }

  .img-title-parent p {
    font-size: 13px;
  }
}
